.pricing-table {
    font-family: "Raleway", sans-serif;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 { 
    display: flex; 
    flex-direction: row; 
    color:rgb(233, 122, 159);
} 
  
h1:before, 
h1:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 1px solid#ccc; 
    margin: auto; 
}
  .pricing-option {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    
  }
  
  .pricing-option label {
    cursor: pointer;
    display: block;
  }
  .pricing-value{
    display:flex;
    margin-left: 32px;
  }
  .pricing-value-prime{
    display:flex;
    margin-left: -19px;
    margin-top:-20px;
  }
 
.pricing-details {
    display: none;

  }
  .pricing-detail-element{
    display:flex;  
    justify-content:center;
    text-align: center;
    margin-top:26px;
  }
  .size{
   margin-left :-500px;
   font-size:12px;
  }
  .color{
    margin-left: 70px;
    font-size:14px;
  }

  .pricing-detail-element-values{
    display:flex;  
    margin-left: 50px;
    height:30px;
    margin-top:10px;
  }
  .number{
    margin-left:-16px;
    font-size:12px;
    padding-top :10px;
    margin-right:15px;
  }
  .tag-icon {
    position: absolute;
    top: -22px;
    right: 22px;
  }
  .rectangle-pricing{
    background-color:rgb(233, 122, 159) ;
    color:white;
    padding: 5px;
    margin-left:15px;
    width:60px;
    margin-top:-5px
  }
  label {
    font-size: large;
    font-weight:bold;
    margin-left:50px;
  }
  select{
    width:80px;
    height: 25px;
    margin-right:15px;
  }
  .final-price{
    margin-left:477px;
    font-size: large;
    font-weight: bold;
  }
  .cut-text{
    text-decoration: line-through;
    margin-left:505px;
    font-size: small;
    color:rgb(145, 144, 144)
  }
  .cut-text-2{
    text-decoration: line-through;
    margin-left:612px;
    font-size: small;
    color:rgb(145, 144, 144)
  }
  .Standard-price{
    font-size: medium;
    font-weight: 500;
  }
  .tag-text {
    position: absolute;
    left: 19px;
    top: 22px;
    color: #fff;
    font-weight: 700;
  }
  .pricing-option input[type="radio"]:checked ~ .pricing-details {
    display: block;
  }
  input{
    margin-top:10px;
  }
  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color:rgb(233, 122, 159);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
  .Pricing-mode {
    display: flex;
    justify-content: space-between;
  }
  button{
    width: 100%;
    height: 62px;
    background-color:rgb(233, 122, 159) ;
    color:azure;
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    cursor: pointer;
  }
 
  .delivery{
    font-size: 18px;
    color:rgb(233, 122, 159);
    font-weight: 500;
  }
  .totalcost{
    font-size: medium;
    font-weight: bold;
  }
  .tag-icon {
    position: absolute;
    top: -22px;
    right: 22px;
  }
  .tag-text {
    position: absolute;
    left: 37px;
    top: 8px;
    color: #fff;
    font-weight: 700;
    font-size: small;
  }